<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div class="email-container" style="max-width: 600px; margin: auto; background-color: #ffffff; border: 1px solid #dcdcdc; border-radius: 8px;">
  <!-- Include Header -->
  <div th:insert="~{mail/header :: header('Account activation')}"></div>

  <!-- Body -->
  <div style="padding: 20px; text-align: left;">
    <p th:text="#{email.activation.greeting(${user.email})}">
      Dear user@example.com,
    </p>
    <p th:text="#{email.activation.text1}">
      Your FlowInquiry account has been created. Please click the button below to activate it:
    </p>
    <!-- Activation Button -->
    <a th:with="url=(@{|${baseUrl}/account/activate?key=${user.activationKey}|})"
       th:href="${url}"
       style="display: inline-block; padding: 12px 20px; font-size: 16px; font-weight: bold; color: #ffffff; background-color: #0056b3; text-decoration: none; border-radius: 4px; margin-top: 10px;"
       th:text="#{email.activation.action}">
      Activate Account
    </a>
    <p style="margin-top: 20px;">
      If the button above doesn't work, copy and paste the following URL into your browser:
    </p>
    <!-- Full Activation Link -->
    <p>
      <a th:with="url=(@{|${baseUrl}/account/activate?key=${user.activationKey}|})"
         th:href="${url}"
         th:text="${url}">
        Full Activation Link
      </a>
    </p>
    <p>
      <span th:text="#{email.regards}">Regards,</span>
      <br />
      <span th:text="#{email.signature}">FlowInquiry Team.</span>
    </p>
  </div>

  <!-- Include Footer -->
  <div th:insert="~{mail/footer :: footer}"></div>
</div>
</body>
</html>
