<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div class="email-container" style="max-width: 600px; margin: auto; background-color: #ffffff; border: 1px solid #dcdcdc; border-radius: 8px;">
    <div th:insert="~{mail/header :: header('New ticket has been created')}"></div>
    <div style="padding: 20px; text-align: left;">
        <p th:text="#{email.greeting(${user.firstName})}">
            Dear user@example.com,
        </p>

        <p>A new ticket has been created.</p>

        <p>Here are the details:</p>
        <table class="details-table">
            <tr>
                <th>Ticket Title</th>
                <td th:text="${ticket.requestTitle}">[Ticket Title]</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td th:text="${ticket.priority}">[Ticket Priority]</td>
            </tr>
            <tr>
                <th>Created By</th>
                <td th:text="${ticket.requestUserName}">[Creator Name]</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td th:utext="${ticket.requestDescription}">[Brief Ticket Description]</td>
            </tr>
        </table>

        <a th:with="url=(@{|${baseUrl}${ticketPath}|})"
           th:href="${url}"
           style="display: inline-block; padding: 12px 20px; font-size: 16px; font-weight: bold; color: #ffffff; background-color: #0056b3; text-decoration: none; border-radius: 4px; margin-top: 10px;"
           th:text="#{email.ticket.comment.action}">
            View Ticket
        </a>
        <p th:text="#{email.ticket.comment.text3}" style="margin-top: 20px;">
            If the button above doesn't work, copy and paste the following URL into your browser:
        </p>
        <!-- Full Ticket Link -->
        <p>
            <a th:with="url=(@{|${baseUrl}${ticketPath}|})"
               th:href="${url}"
               th:text="${url}">
                Full Ticket Link
            </a>
        </p>
        <p>
            <span th:text="#{email.regards}">Regards,</span>
            <br />
            <span th:text="#{email.signature}">FlowInquiry Team.</span>
        </p>
    </div>
    <div th:insert="~{mail/footer :: footer}"></div>
</div>
</body>
</html>