<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">

	<!-- Register the custom masking converter -->
	<conversionRule conversionWord="mask"
		converterClass="io.flexwork.logback.MaskingMessageConverter" />

	<!-- Patterns based on https://github.com/spring-projects/spring-boot/blob/v3.0.0/spring-boot-project/spring-boot/src/main/resources/org/springframework/boot/logging/logback/defaults.xml -->
	<property name="CONSOLE_LOG_PATTERN"
		value="${CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd'T'HH:mm:ss.SSSXXX}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%logger{}.%method:%line){cyan} %clr(:){faint} %clr(%replace(%m){'[\r\n]', ''}){red} %n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />

	<!-- Console Appender for standard logging -->
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<!-- File appender with masking for error and custom logs only -->
	<appender name="MASKED_FILE"
		class="ch.qos.logback.core.FileAppender">
		<file>logs/masked-log.log</file>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} -
				%mask{%msg}%n</pattern>
		</encoder>

		<!-- Filter to include only ERROR level logs -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<include
		resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include
		resource="org/springframework/boot/logging/logback/console-appender.xml" />


	<logger name="io.flexwork" level="DEBUG" />
	<logger name="angus.activation" level="WARN" />
	<logger name="jakarta.activation" level="WARN" />
	<logger name="jakarta.mail" level="WARN" />
	<logger name="jakarta.management.remote" level="WARN" />
	<logger name="jakarta.xml.bind" level="WARN" />
	<logger name="jdk.event.security" level="INFO" />
	<logger name="com.ryantenney" level="WARN" />
	<logger name="com.sun" level="WARN" />
	<logger name="com.zaxxer" level="WARN" />
	<logger name="io.undertow" level="WARN" />
	<logger name="io.undertow.websockets.jsr" level="ERROR" />
	<logger name="org.apache" level="WARN" />
	<logger name="org.apache.catalina.startup.DigesterFactory"
		level="OFF" />
	<logger name="org.bson" level="WARN" />
	<logger name="org.hibernate.validator" level="WARN" />
	<logger name="org.hibernate" level="WARN" />
	<logger name="org.hibernate.ejb.HibernatePersistence"
		level="OFF" />
	<logger name="org.postgresql" level="WARN" />
	<logger name="org.springframework" level="INFO" />
	<logger name="org.springframework.web" level="INFO" />
	<logger name="org.springframework.security" level="INFO" />
	<logger name="org.springframework.boot.autoconfigure.logging"
		level="INFO" />
	<logger name="org.springframework.cache" level="WARN" />
	<logger name="org.thymeleaf" level="WARN" />
	<logger name="org.xnio" level="WARN" />
	<logger name="io.swagger.v3" level="INFO" />
	<logger name="sun.rmi" level="WARN" />
	<logger name="sun.rmi.transport" level="WARN" />
	<logger name="javax.management.remote.rmi" level="WARN" />

	<logger name="Validator" level="INFO" />
	<logger
		name="_org.springframework.web.servlet.HandlerMapping.Mappings"
		level="INFO" />
	<logger name="liquibase" level="WARN" />
	<logger name="LiquibaseSchemaResolver" level="INFO" />

	<springProperty name="log.level"
		source="logging.level.root" defaultValue="INFO" />
	<root level="${log.level}">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="MASKED_FILE" />
	</root>

	<contextListener
		class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

</configuration>
