apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: {{ .Values.image.frontend }}
          env:
            - name: HOSTNAME
              value: "0.0.0.0"
            - name: NEXT_PUBLIC_BASE_URL
              value: http://localhost:{{ .Values.caddy.port }}
            - name: BACK_END_URL
              value: http://backend:8080
